<div class="form-control w-full mb-4">
  @if (label) {
    <label class="label pt-0 pb-1">
      <span class="label-text font-semibold text-base-content" [class.text-error]="isInvalid">
        {{ label }}
      </span>
    </label>
  }

  <div class="relative flex items-center">

    @if (icon && iconPosition === 'left') {
      <div class="absolute left-4 flex items-center pointer-events-none z-10">
        <i class="pi text-base" [ngClass]="[icon, isInvalid ? 'text-error' : 'text-base-content/50']"></i>
      </div>
    }

    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value()"
      [disabled]="isDisabled()"
      (input)="onInputChange($event)"
      (blur)="onTouch()"
      class="input input-bordered w-full transition-all duration-200 focus:outline-none"
      [ngClass]="{
        'input-error': isInvalid,
        'pl-11': icon && iconPosition === 'left',
        'pr-11': icon && iconPosition === 'right'
      }"
    />

    @if (icon && iconPosition === 'right') {
      <div class="absolute right-4 flex items-center pointer-events-none z-10">
        <i class="pi text-base" [ngClass]="[icon, isInvalid ? 'text-error' : 'text-base-content/50']"></i>
      </div>
    }
  </div>

  @if (isInvalid && errorMessage) {
    <label class="label pt-1 pb-0">
      <span class="label-text-alt text-error font-medium flex items-center gap-1 animate-fadeIn">
        <i class="pi pi-exclamation-circle text-xs"></i> {{ errorMessage }}
      </span>
    </label>
  }
</div>
